/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #fff3e1;
}

section {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

h1 {
  font-size: 32px;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fe67da;
}

/* Background images */

.blank {
  background-image: url(/assets/Blank-min.png);
}
.image-1 {
  background-image: url(/assets/1-min.png);
}
.image-2 {
  background-image: url(/assets/2-min.png);
}
.image-3 {
  background-image: url(/assets/3-min.png);
}
.image-4 {
  background-image: url(/assets/4-min.png);
}
.image-5 {
  background-image: url(/assets/5-min.png);
}
.image-6 {
  background-image: url(/assets/6-min.png);
}
.image-7 {
  background-image: url(/assets/7-min.png);
}
.image-8 {
  background-image: url(/assets/8-min.png);
}
.image-9 {
  background-image: url(/assets/9-min.png);
}
.image-10 {
  background-image: url(/assets/10-min.png);
}
.image-11 {
  background-image: url(/assets/11-min.png);
}
.image-12 {
  background-image: url(/assets/12-min.png);
}
.image-13 {
  background-image: url(/assets/13-min.png);
}
.image-14 {
  background-image: url(/assets/14-min.png);
}
.image-15 {
  background-image: url(/assets/15-min.png);
}
.image-16 {
  background-image: url(/assets/16-min.png);
}
.image-17 {
  background-image: url(/assets/17-min.png);
}
.image-18 {
  background-image: url(/assets/18-min.png);
}
.image-19 {
  background-image: url(/assets/19-min.png);
}
.image-20 {
  background-image: url(/assets/20-min.png);
}
.image-21 {
  background-image: url(/assets/21-min.png);
}
.image-22 {
  background-image: url(/assets/22-min.png);
}
.image-23 {
  background-image: url(/assets/23-min.png);
}
.image-24 {
  background-image: url(/assets/24-min.png);
}
.image-25 {
  background-image: url(/assets/25-min.png);
}
.image-26 {
  background-image: url(/assets/26-min.png);
}
.image-27 {
  background-image: url(/assets/27-min.png);
}
.image-28 {
  background-image: url(/assets/28-min.png);
}
.image-29 {
  background-image: url(/assets/29-min.png);
}
